################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Aula01/Aula01/obj
/.vs
/Aula01/.vs/Aula01.slnx
/Aula01/Aula01/bin/Debug/net10.0
